name: 'Terraform Step Test'

on:

  push:
    branches:
      - main
  
permissions:
  contents: read


jobs:
  terraform-copy-test:
    name: 'Terraform test'
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: staging
    steps:
      
      # Checkout the repository to the GitHub Actions runner
    - name: Checkout
      uses: actions/checkout@v4

    # Install the latest version of the Terraform CLI
    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3
      with:
        terraform_wrapper: false
    
    # Terraform Plan Approve for Prod
    - name: Tfplan Transfer
      working-directory: .
      run: 
        cp staging/main.tf production/tested.tf